@import "_fonts";
@import "_reset";
h1 {
   font-family: "magistral", sans-serif;
   font-size: 50px;
   color: white;
}
.container-fluid {
   min-height: 100vh;
   background: url(../img/contact_bg.png) no-repeat center center;
   background-size: cover;
}
.wrapper{
   max-width: 960px;
   margin: 0px auto;
}
.invalid-feedback{
   font-family: "Lato", sans-serif;
   padding-left: 30px;
   font-weight: 700;
   font-size: 15px;
}
input[type="checkbox"] {
   /* Double-sized Checkboxes */
   -ms-transform: scale(0.6); /* IE */
   -moz-transform: scale(0.6); /* FF */
   -webkit-transform: scale(0.6); /* Safari and Chrome */
   -o-transform: scale(0.6); /* Opera */
   padding: 10px;
}
.res-style{
   margin: 0px 3px 0px 0px !important;
}
.pointer{
   cursor: pointer;
}
.res-pad{
   padding: 0px;
}
.new-pad{
   font-family: "Lato", sans-serif;
   font-size: 19px;
   padding: 10px 20px 10px 70px;
   border-radius: 25px;
}
.new-pad-area{
   font-family: "Lato", sans-serif;
   font-size: 18px;
   border-radius: 25px;
   padding: 20px 20px 10px 35px;
}
.ff-text{
   font-family: "Protipo-compact", sans-serif;
   @media screen and (max-width: 576px){
      font-size: 25px !important;
   }
}
.fs-text{
   font-family: "Protipo-compact", sans-serif;
   font-size: 16px;
   font-weight: 500;
}

.text-color{
   color: #aaa;
}

.elem{
   position: relative;
}

.icon-phone,.icon-user,.icon-mail-alt{
   position: absolute;
   font-size: 18px;
   top: 17px;
   left: 33px;
   color: #aaa;
}
.new-style{
   border-radius: 25px;
   @media screen and (max-width: 576px){
      font-size: 23px !important;
   }
}
